*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

.calculator {
  margin: 2% 32% 0% 35%;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 60%;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 46vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 60px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.text-align {
  text-align: left;
}

.col-md-1 {
  width: 17.333333% !important;
}

@media only screen and (max-width: 600px) {
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 46vh;
    grid-template-columns: repeat(4, 82px);
    grid-template-rows: minmax(104px, auto) repeat(5, 86px);
  }
  .grid-container {
  margin-top: 101px;
  }
}
.btn-history {
  float: left;
}